<div class="search-bar">
  <input type="text" (input)="onSearchChange($event)" placeholder="Buscar un ricardo o un morfius..." />
</div>

<div class="characters-container">
  @for (character of characters; track $index) {

  <div class="character-card">
    <img [src]="character.image" alt="{{ character.name }}" />
    <h3>Nombre: {{ character.name }}</h3>
    <p>Estado: {{ character.status }}</p>
    <p>Especie: {{ character.species }}</p>
    <p>Ubicación: {{ character.location?.name }}</p>
  </div>
  }

</div>

<div class="pagination">
  <button (click)="changePage(false)" [disabled]="currentPage === 1">Anterior</button>
  <span>Página {{ currentPage }} de {{ totalPages }}</span>
  <button (click)="changePage(true)" [disabled]="currentPage === totalPages">Siguiente</button>
</div>